.btn {
  background: unset;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Inter';
  cursor: pointer;
  opacity: 0.8;
}
.tektur-body {
 font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }
